* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html, body {
  min-height: 100%;
}
@font-face {
  font-family: "Panama-Demo-Regular";
  src: local("Panama-Demo-Regular"),
  url("./assets/fonts/Panama-Demo/Panama-Demo-Regular.otf") format("truetype");
  font-weight: normal;
}
